body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    position: sticky;
}

textarea {
    width: 80%;
    height: 100px;
}

label {
    text-align: left
}

table {
    position: absolute;
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     width: 233px;
}